src/test/resources/schema/dplarcht.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://legstar.com/test/coxb/dplarcht"
xmlns="http://legstar.com/test/coxb/dplarcht"
xmlns:xsns="http://legstar.com/test/coxb/dplarcht"
xmlns:cb="http://www.legsem.com/legstar/xml/cobol-binding-1.0.1.xsd"
xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
jaxb:version="2.0"
jaxb:extensionBindingPrefixes="cb"
elementFormDefault="qualified">
 <xs:annotation><xs:appinfo>
 <jaxb:schemaBindings>
 <jaxb:package  name="com.legstar.test.coxb.dplarcht"/>
 </jaxb:schemaBindings>
 </xs:appinfo></xs:annotation>
 <xs:complexType name="WsFileDescription">
    <xs:sequence>
     <xs:element name="wsFileStart">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='5' cobolName='WS-FILE-START' type='ALPHANUMERIC_ITEM' picture='X(8)' value='' srceLine='54'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:maxLength value='8'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="wsFileName">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='5' cobolName='WS-FILE-NAME' type='ALPHANUMERIC_ITEM' picture='X(8)' value='' srceLine='55'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:maxLength value='8'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="wsFileDsname">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='5' cobolName='WS-FILE-DSNAME' type='ALPHANUMERIC_ITEM' picture='X(44)' value='' srceLine='56'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:maxLength value='44'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="wsFileEnablestatus">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='5' cobolName='WS-FILE-ENABLESTATUS' type='BINARY_ITEM' picture='9(8)' usage='BINARY' signed='false' totalDigits='8' value='0' srceLine='57'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         <xs:totalDigits value="8"/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="WsProgramDescription">
    <xs:sequence>
     <xs:element name="wsProgramStart">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='5' cobolName='WS-PROGRAM-START' type='ALPHANUMERIC_ITEM' picture='X(8)' value='' srceLine='60'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:maxLength value='8'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="wsProgramName">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='5' cobolName='WS-PROGRAM-NAME' type='ALPHANUMERIC_ITEM' picture='X(8)' value='' srceLine='61'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:maxLength value='8'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="wsProgramType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='5' cobolName='WS-PROGRAM-TYPE' type='BINARY_ITEM' picture='9(8)' usage='BINARY' signed='false' totalDigits='8' value='0' srceLine='62'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         <xs:totalDigits value="8"/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="wsProgramLanguage">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='5' cobolName='WS-PROGRAM-LANGUAGE' type='BINARY_ITEM' picture='9(8)' usage='BINARY' signed='false' totalDigits='8' value='0' srceLine='63'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         <xs:totalDigits value="8"/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="wsProgramLength">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='5' cobolName='WS-PROGRAM-LENGTH' type='BINARY_ITEM' picture='S9(9)' usage='BINARY' signed='true' totalDigits='9' srceLine='64'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:int">
         <xs:totalDigits value="9"/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="wsProgramUsecount">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='5' cobolName='WS-PROGRAM-USECOUNT' type='BINARY_ITEM' picture='S9(9)' usage='BINARY' signed='true' totalDigits='9' srceLine='65'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:int">
         <xs:totalDigits value="9"/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="WsTransactionDescription">
    <xs:sequence>
     <xs:element name="wsTransactionStart">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='5' cobolName='WS-TRANSACTION-START' type='ALPHANUMERIC_ITEM' picture='X(8)' value='' srceLine='68'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:maxLength value='8'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="wsTransactionName">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='5' cobolName='WS-TRANSACTION-NAME' type='ALPHANUMERIC_ITEM' picture='X(8)' value='' srceLine='69'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:maxLength value='8'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="wsTransactionProgram">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='5' cobolName='WS-TRANSACTION-PROGRAM' type='ALPHANUMERIC_ITEM' picture='X(8)' value='' srceLine='70'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:maxLength value='8'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="wsTransactionStatus">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='5' cobolName='WS-TRANSACTION-STATUS' type='BINARY_ITEM' picture='9(8)' usage='BINARY' signed='false' totalDigits='8' value='0' srceLine='71'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         <xs:totalDigits value="8"/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="Dfhcommarea">
    <xs:sequence>
     <xs:element name="lsRequest" type="xsns:LsRequest">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='5' cobolName='LS-REQUEST' type='GROUP_ITEM' srceLine='81'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
     <xs:element name="lsReply" type="xsns:LsReply">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='5' cobolName='LS-REPLY' type='GROUP_ITEM' srceLine='93'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="LsRequest">
    <xs:sequence>
     <xs:element name="lsRequestType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='LS-REQUEST-TYPE' type='BINARY_ITEM' picture='9(4)' usage='BINARY' signed='false' totalDigits='4' customVariable="true" srceLine='82'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedShort">
         <xs:totalDigits value="4"/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:choice>
     <xs:element name="lsAllItems">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='LS-ALL-ITEMS' type='ALPHANUMERIC_ITEM' picture='X(4)' isRedefined='true' unmarshalChoiceStrategyClassName='' srceLine='86'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:maxLength value='4'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="lsMaxItems">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='LS-MAX-ITEMS' type='ZONED_DECIMAL_ITEM' picture='9(4)' signed='false' totalDigits='4' redefines='LS-ALL-ITEMS' srceLine='87'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedShort">
         <xs:totalDigits value="4"/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     </xs:choice>
     <xs:element name="lsSearchCriteria" type="xsns:LsSearchCriteria">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='LS-SEARCH-CRITERIA' type='GROUP_ITEM' srceLine='89'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="LsSearchCriteria">
    <xs:sequence>
     <xs:element name="lsStartwith">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='LS-STARTWITH' type='ALPHANUMERIC_ITEM' picture='X(8)' srceLine='90'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:maxLength value='8'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="lsStartwithLen">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='LS-STARTWITH-LEN' type='PACKED_DECIMAL_ITEM' picture='9(9)' usage='PACKED-DECIMAL' signed='false' totalDigits='9' srceLine='91'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         <xs:totalDigits value="9"/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="LsReply">
    <xs:sequence>
     <xs:element name="lsReplyType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='LS-REPLY-TYPE' type='BINARY_ITEM' picture='9(4)' usage='BINARY' signed='false' totalDigits='4' srceLine='94'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedShort">
         <xs:totalDigits value="4"/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="lsReplyData" type="xsns:LsReplyData">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='LS-REPLY-DATA' type='GROUP_ITEM' srceLine='98'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="LsReplyData">
    <xs:sequence>
     <xs:element name="lsItemsCount">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='LS-ITEMS-COUNT' type='NATIVE_BINARY_ITEM' picture='9(9)' usage='COMP-5' signed='false' totalDigits='9' isODOObject='true' srceLine='99'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
            <xs:totalDigits value="9"/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="lsItemsArray" maxOccurs="500" type="xsns:LsItemsArray">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='LS-ITEMS-ARRAY' type='GROUP_ITEM' minOccurs='1' maxOccurs='500' dependingOn='LS-ITEMS-COUNT' srceLine='100'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="LsItemsArray">
    <xs:sequence>
     <xs:choice>
     <xs:element name="lsFilesData" type="xsns:LsFilesData">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='20' cobolName='LS-FILES-DATA' type='GROUP_ITEM' isRedefined='true' unmarshalChoiceStrategyClassName='com.legstar.coxb.cust.dplarcht.ChoiceSelector' srceLine='102'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
     <xs:element name="lsProgramsData" type="xsns:LsProgramsData">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='20' cobolName='LS-PROGRAMS-DATA' type='GROUP_ITEM' redefines='LS-FILES-DATA' srceLine='107'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
     <xs:element name="lsTransactionsData" type="xsns:LsTransactionsData">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='20' cobolName='LS-TRANSACTIONS-DATA' type='GROUP_ITEM' redefines='LS-FILES-DATA' srceLine='115'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
     </xs:choice>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="LsFilesData">
    <xs:sequence>
     <xs:element name="lsFileName">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='25' cobolName='LS-FILE-NAME' type='ALPHANUMERIC_ITEM' picture='X(8)' srceLine='103'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:maxLength value='8'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="lsFileDsname">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='25' cobolName='LS-FILE-DSNAME' type='ALPHANUMERIC_ITEM' picture='X(44)' srceLine='104'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:maxLength value='44'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="lsFileEnablestatus">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='25' cobolName='LS-FILE-ENABLESTATUS' type='ALPHANUMERIC_ITEM' picture='X(12)' srceLine='105'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:maxLength value='12'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="LsProgramsData">
    <xs:sequence>
     <xs:element name="lsProgramName">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='25' cobolName='LS-PROGRAM-NAME' type='ALPHANUMERIC_ITEM' picture='X(8)' srceLine='108'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:maxLength value='8'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="lsProgramType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='25' cobolName='LS-PROGRAM-TYPE' type='ALPHANUMERIC_ITEM' picture='X(12)' srceLine='109'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:maxLength value='12'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="lsProgramLanguage">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='25' cobolName='LS-PROGRAM-LANGUAGE' type='ALPHANUMERIC_ITEM' picture='X(12)' srceLine='110'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:maxLength value='12'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="lsProgramLength">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='25' cobolName='LS-PROGRAM-LENGTH' type='BINARY_ITEM' picture='S9(9)' usage='BINARY' signed='true' totalDigits='9' srceLine='111'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:int">
         <xs:totalDigits value="9"/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="lsProgramUsecount">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='25' cobolName='LS-PROGRAM-USECOUNT' type='BINARY_ITEM' picture='S9(9)' usage='BINARY' signed='true' totalDigits='9' srceLine='112'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:int">
         <xs:totalDigits value="9"/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="filler113">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='25' cobolName='FILLER' type='ALPHANUMERIC_ITEM' picture='X(24)' srceLine='113'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:maxLength value='24'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="LsTransactionsData">
    <xs:sequence>
     <xs:element name="lsTransactionName">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='25' cobolName='LS-TRANSACTION-NAME' type='ALPHANUMERIC_ITEM' picture='X(8)' srceLine='116'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:maxLength value='8'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="lsTransactionProgram">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='25' cobolName='LS-TRANSACTION-PROGRAM' type='ALPHANUMERIC_ITEM' picture='X(8)' srceLine='117'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:maxLength value='8'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="lsTransactionStatus">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='25' cobolName='LS-TRANSACTION-STATUS' type='ALPHANUMERIC_ITEM' picture='X(12)' srceLine='118'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:maxLength value='12'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="filler119">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='25' cobolName='FILLER' type='ALPHANUMERIC_ITEM' picture='X(36)' srceLine='119'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:maxLength value='36'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
</xs:schema>
